@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg-img {
  background-image: url("./assets/images/bg-pattern-intro-mobile.svg"),
    linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.illustration-bg-img {
  background-image: url("./assets/images/illustration-editor-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 345px;
}

.state-of-art-bg-img {
  background-image: url("./assets/images/bg-pattern-circles.svg"),
    linear-gradient(to bottom, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

@media (min-width: 1024px) {
  .main-bg-img {
    background-image: url("./assets/images/bg-pattern-intro-desktop.svg"),
      linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  }
  .illustration-bg-img {
    background-image: url("./assets/images/illustration-editor-desktop.svg");
    background-size: cover;
    background-position-x: left;
    height: 620px;
  }
  .state-of-art-bg-img {
    background-position: -50% 83%;
  }
}
